@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

#menu .events {
    border-bottom: 1px solid #a20000;
}

html, body {
    height: 100%; 
    width: 100%;
    margin: 0;
}

nav {
    min-width: 100%;
}

#menu {
    position: fixed;
    z-index: 900;
    top: 0;
    -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px rgb(199, 199, 199);
}

#menu ul {
    display: grid;
    list-style-type: none;
    background-color: #eee;
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    grid-template-columns: 1fr 5fr 1fr;
}

#menu li {
    float: center;
    color: black; 
    text-align: center; 
}

#menu .profile {
    text-align: left;
    padding-left: 1em;
    margin: 6px;
}

#menu .center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#menu .center li {
    vertical-align: middle;
}

#menu input[type=text] {
    font-family: Poppins;
    float: right;
    padding: 6px;
    border: none;
    font-size: 80%;
    border-radius: 12px;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-right: 7px;
}
  
#menu li a {
    color: black;
    font-family: Poppins;
    text-decoration: none;
}
  
#menu .aboutus:hover {
    background-color: #e0e0e0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

#menu .profile:hover {
    background-color: #e0e0e0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

#menu .contacts:hover {
    background-color: #e0e0e0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

#menu .loja:hover {
    background-color: #e0e0e0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 10px;
}

.fixed-bottom {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
.pagination {
    display: inline-block;
    margin-top: 6px;
}
  
.pagination a {
    background-color: #ccc;
    font-family: Poppins;
    font-size: 70%;
    border-radius: 5px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0;
}
  
.pagination a.events {
    background-color: #a20000;
    border: 1px solid #a20000;
    color: white;
}

.pagination a:hover:not(.events) {background-color: #ddd;}

#pieces_correntes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    row-gap: 6px;
    column-gap: 6px;
}

#pieces_correntes #container {
    position: relative;
}

#pieces_correntes #container img {
    display: block;
    width: 100%;
    height: auto;
}
  
#pieces_correntes #container .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    font-family: Poppins;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#pieces_acabados {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    row-gap: 6px;
    column-gap: 6px;
}

#pieces_acabados #container {
    position: relative;
}

#pieces_acabados #container img {
    display: block;
    width: 100%;
    height: auto;
}
  
#pieces_acabados #container .overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    font-family: Poppins;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#categories {
    display: none;
    margin-top: 80px;
    text-align: center;
}

#categories button {
    margin: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 12px;
    text-align: center;
    background-color: #a20000;
    color: white;
    font-family: Poppins;
    border: #a20000;
    box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.2), 0 3px 10px 0 rgba(187, 187, 187, 0.2);
}

#categories button:hover {
    background-color: #5c0000;
}

#over_notover_events {
    margin-top: 80px;
    text-align: center;
}

#over_notover_events button {
    border: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    text-align: center;
    background-color: white;
    color: black;
    font-family: Poppins;
}

#over_notover_events #correntes {
    border-bottom: 1px solid #a20000;
}

#over_notover_events button:hover {
    background-color: #eee;
}